<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd ">

    <context:component-scan base-package="org.bugjlu.mycollection.dao"/>
    <context:component-scan base-package="org.bugjlu.mycollection.service"/>

    <!-- Beans for services. -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>


    <bean id="accountService" class="org.bugjlu.mycollection.service.AccountServiceImpl"/>
    <bean id="contentService" class="org.bugjlu.mycollection.service.ContentServiceImpl"/>
    <bean id="followService" class="org.bugjlu.mycollection.service.FollowServiceImpl"/>
    <bean id="tagService" class="org.bugjlu.mycollection.service.TagServiceImpl"/>

    <bean id="contentDao" class="org.bugjlu.mycollection.dao.ContentDaoImpl" />
    <bean id="tagDao" class="org.bugjlu.mycollection.dao.TagDaoImpl" />
    <bean id="userDao" class="org.bugjlu.mycollection.dao.UserDaoImpl" />

</beans>