.center-form {
    width: 400px;
    height: auto;
    margin: 50px auto;
    padding: 30px 40px;
    border: solid silver 1px;
    border-radius: 10px;
}

.autoheightbrand:hover {
    height: auto;
    color: #5e5e5e;
    text-decoration: none;
}

.autoheightbrand:active {
    height: auto;
    color: #5e5e5e;
    text-decoration: none;
}

.autoheightbrand:focus {
    height: auto;
    color: #777;
    text-decoration: none;
}

.loginbutton {
    /*width: 80%;*/
    margin: 30px auto;
    font-size:20px;
}